body{font-family:Calibri;overflow:hidden}
input{font-size:24px;}
.biol,.bchm,.cosi{border-radius:5px;color:white}
.biol{background-color:#0C4}
.bchm{background-color:#08C}
.cosi{background-color:#C80}

.cerror{color:#C80}
.chappy{color:#08C}
.ctech{color:#0C4}
#console{background-color:#000;position:absolute;left:725px;top:290px;height:250px;width:450px;}

#loginBox{position:absolute;z-Index:2;left:50%;width:400px;margin-left:-200px;top:0;height:200px;font-size:24px;text-align:center;background-color:#ADF;}
#accountWrapper{opacity:0.4}

#sched2{position:absolute;height:98%;}
#sched3{position:absolute;top:50px;opacity:1.0;z-Index:2;width:700px;margin-right:520px;}
#schedTabList{position:absolute;top:50px;left:0;}

.box{background-color:#CCC;border-radius:10px;padding:10px}
.schedTab,#schedTabAdd{width:110px;border-top-right-radius:10px;border-bottom-right-radius:10px;padding:10px;background-color:#CCC}
#schedTabAdd,#bay{padding:7px;border-style:dashed;border-color:#999;font-size:18px;color:#999}
#schedTabAdd:hover{border-color:#000;color:#000}
td{text-align:center}
th{text-align:center}

#deps{float:left;height:98%;width:160px;overflow-y:scroll;}
#courseArr{max-height:50%;overflow-y:auto;}
#_ADF{max-height:30%;border-radius:3px;background-color:#ADF;padding:5px;margin:10px;overflow-y:auto}
#bay2{position:absolute;width:450px;height:250px;left:725px;top:0;}
#bay{float:left;background-color:#CCC;height:200px;width:300px;margin:5px;border-radius:10px;overflow-y:auto;}
._08F{border-radius:3px;background-color:#08F;color:white;padding:5px;margin:10px;max-width:110px}/*dep*/
._5AF{border-radius:3px;background-color:#5AF;padding:5px;margin:10px;max-width:500px;}/*course*/

.logButton{font-size:30px;background-color:#08F;color:white;padding:5px;display:inline-block;}
.logButton:hover{background-color:#C80;}